<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruike.eas.dao.ClassScoreMapper">
    <resultMap id="cs" type="com.ruike.eas.pojo.ClassScore">

    </resultMap>

    <insert id="insertClassScore" parameterType="com.ruike.eas.pojo.ClassScore">
        INSERT INTO classscore VALUES
        (NULL,#{ce_Id},#{cs_Wtavg},#{cs_Ctavg},#{cs_Avg},#{cs_Createdate},#{cs_State})
    </insert>
    <select id="selectClassScore" parameterType="com.ruike.eas.pojo.ClassScore" resultMap="cs">
        SELECT ce.ce_name,c.class_name,c.class_id,cs.* FROM classscore cs,classexam ce,class c
        <where>
            cs.ce_id = ce.ce_id and c.class_id = ce.class_id
           <if test="class_id != null">
               and ce.class_id = #{class_id}
           </if>
        </where>
    </select>
</mapper>