<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruike.eas.dao.ClassattendanceMapper">

    <insert id="insertClassatd" useGeneratedKeys="true" keyProperty="cad_id" parameterType="com.ruike.eas.pojo.Classattendance">
        insert into classattendance(cad_number,cad_name,cad_rate,cad_date,class_id)
        values(#{cad_number},#{cad_name},#{cad_rate},#{cad_date},#{class_id})
    </insert>
    <select id="selectClassatd" resultType="com.ruike.eas.pojo.Classattendance" >
       select * from classattendance
        <where>
            <if test="class_id!=null">
                and class_id = #{class_id}
            </if>
        </where>
    </select>

    <select id="selecttime" resultType="int">
        SELECT count(*) from classattendance where class_id=#{class_id}
    </select>

    <select id="selectnewClassatd"  resultType="com.ruike.eas.pojo.Classattendance">
            select * from classattendance where class_id=#{class_id}
            order by cad_number DESC limit 0,1
    </select>
    <resultMap id="catd" type="com.ruike.eas.pojo.Classattendance">
        <result column="classname" property="classname"/>
    </resultMap>
    <select id="selectClassatdbyclassatd" resultMap="catd">
        select c.* , cs.class_name as classname from classattendance as c,class as cs
        <where>
            cs.class_id = c.class_id
            <if test="class_id !=null">
                and c.class_id=#{class_id}
            </if>
            <if test="startday !=null">
                and c.cad_date &gt;= #{startday}
            </if>
            <if test="stopday !=null">
                and c.cad_date &lt;= #{stopday}
            </if>
        </where>
    </select>
    <select id="selectClassatdbygradeid" resultMap="catd">
         select c.* , cs.class_name as classname from classattendance as c,class as cs
     <where>
         c.class_id=cs.class_id

             <if test="grade!=null">
                 and cs.grade_id=#{grade}
             </if>
         <if test="cad_date!=null">
             and  c.cad_date = #{cad_date}
         </if>
         </where>
         ORDER BY c.cad_date DESC  LIMIT 0,50
    </select>
</mapper>