<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruike.eas.dao.RegulationsTypeMapper">

    <select id="selectrltbyrlt" resultType="com.ruike.eas.pojo.Regulationstype">
       SELECT * from regulationstype
    </select>
    <insert id="insertintoral">
        INSERT into regulationstype(rast_name) VALUES(#{rast_name});
    </insert>
</mapper>