<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruike.eas.dao.ScoringstandardMapper">
        <resultMap id="sc" type="com.ruike.eas.pojo.Scoringstandard">
            <result column="teachername" property="teachername"/>
        </resultMap>
        <select id="selectAll" parameterType="com.ruike.eas.pojo.Scoringstandard" resultMap="sc">
            select s.*,t.th_name as teachername from scoringstandard as s ,teacher as t
                <where>
                    t.th_id=s.ss_createby
                    <if test="ss_name!=null and ss_name!=''">
                      and s.ss_name like concat('%', #{ss_name}, '%')
                    </if>
                    <if test="ss_type!=null">
                      and s.ss_type = #{ss_type}
                    </if>
                </where>
        </select>

    <select id="selectssdbyssdid" resultMap="sc">
        select s.*,t.th_name as teachername from scoringstandard as s ,teacher as t where  t.th_id=s.ss_createby and s.ss_id=#{ss_id}
    </select>

    <insert id="insert">
          insert into scoringstandard (ss_name,ss_fraction,ss_way,ss_createby,ss_createdate,ss_type)
            VALUES(#{ss_name},#{ss_fraction},#{ss_way},#{ss_createby},#{ss_createdate},#{ss_type});
    </insert>

    <update id="updatessd">
		update scoringstandard set ss_name = #{ss_name},ss_fraction=#{ss_fraction},ss_way=#{ss_way},ss_createby=#{ss_createby},
		ss_createdate=#{ss_createdate},ss_type=#{ss_type} where ss_id=#{ss_id}
    </update>
</mapper>