<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruike.eas.dao.StuattendanceMapper">
    <resultMap id="stubyclassid" type="com.ruike.eas.pojo.Stuattendance">
        <result column="attendancetime" property="attendancetime"/>
        <result column="stuname" property="stuname"/>
        <result column="classname" property="classname"/>
    </resultMap>
    <select id="selectstuatdbyclassid" resultMap="stubyclassid">
        SELECT COUNT(1) as attendancetime,a.stu_id ,b.stu_name as stuname,c.class_name as classname FROM stuattendance as a ,stu as b,class as c
        where a.class_id=c.class_id and a.class_id=#{class_id} and a.stu_id=b.stu_id and ss_id =1  GROUP BY a.stu_id

    </select>

    <insert id="insertStuatds" useGeneratedKeys="true" keyProperty="sad_id" parameterType="java.util.List">
        insert into stuattendance(stu_id,ss_id,sad_recorddate,cad_id,class_id)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.stu_id},#{item.ss_id},#{item.sad_recorddate},#{item.cad_id},#{item.class_id})
        </foreach>
    </insert>
    <resultMap id="sss" type="com.ruike.eas.pojo.Stuattendance">
        <result property="caozuo" column="caozuo"/>
        <result property="fen" column="fen"/>
        <result property="ssname" column="ssname"/>
        <result property="stuname" column="stuname"/>
        <result property="classname" column="classname"/>
        <result property="cadname" column="cadname"/>
    </resultMap>
    <select id="stuattendancesbystuatd" resultMap="sss">
        select s.*,ssd.ss_way as caozuo,cat.cad_name as cadname,ssd.ss_fraction as fen,ssd.ss_name as ssname,a.stu_name as stuname,c.class_name as classname
        from  stuattendance as s ,scoringstandard as ssd,stu as a,class as c,classattendance as cat
        where  s.class_id=c.class_id and ssd.ss_id =s.ss_id and a.stu_id =s.stu_id and cat.cad_id=s.cad_id
        <if test="class_id!=null">
            and s.class_id=#{class_id}
        </if>
        <if test="stu_id!=null">
            and s.stu_id=#{stu_id}
        </if>
        <if test="cad_id!=null">
            and s.cad_id=#{cad_id}
        </if>
    </select>



</mapper>