<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruike.eas.dao.StudentMapper">
	<select id="selectStuclassid" resultType="com.ruike.eas.pojo.Stu">
		select * from stu where class_id=#{class_id}
	</select>
	<select id="defaultstudent" resultType="com.ruike.eas.pojo.Stu">
		select stu_id,stu_name,stu_no,stu_birthday,stu_sex,stu_phone,stu_startday,stu_parentphone,class_id from stu
	</select>
	<select id="selectstudentbystu" parameterType="com.ruike.eas.pojo.Stu" resultType="com.ruike.eas.pojo.Stu">
		select * from stu
		 <where>
		 	<if test="stu_id != null">
			 	 AND stu_id=#{stu_id}
			</if>
			 <if test="stu_no != null">
				AND stu_no=#{stu_no}
			 </if>
			 <if test="class_id != null">
				AND class_id=#{class_id}
			 </if>
		 </where>
	</select>

	<sql id="stu">
		SELECT st.*,c.class_name,c.class_startday,c.class_stopday,c.grade_id,c.`status` as classsta,c.class_state from stu st,class c
		<where>
			st.class_id = c.class_id
			<if test="stu_name != null and stu_name != ''">
				and st.stu_name like concat("%",#{stu_name},"%")
			</if>
			<if test="classes != null and classes.class_id != null and classes.class_id > 0">
				and c.class_id = #{classes.class_id}
			</if>
			<if test="classes != null and classes.class_name != null and classes.class_name != ''">
				and c.class_name = #{classes.class_name}
			</if>
			<if test="stu_state != null">
				and st.stu_state =#{stu_state}
			</if>
			<if test="stu_no != null">
				and st.stu_no = #{stu_no}
			</if>
		</where>
	</sql>

	<!--<resultMap id="classstus" type="com.ruike.eas.pojo.Classstu">-->
		<!--<result column="cs_id" property="stu_id"/>-->
		<!--<result column="stu_id" property="stu_id"/>-->
		<!--<result column="class_id" property="class_id"/>-->
	<!--</resultMap>-->

	<!--<select id="selectStuby">-->
		<!--select s.* from stu s ,classstu c-->
		<!--where s.stu_id = c.stu_id and c.class_id=1-->
	<!--</select>-->

	<resultMap id="stuclass" type="com.ruike.eas.pojo.Stu">
		<result column="stu_id" property="stu_id"/>
		<result column="stu_name" property="stu_name"/>
		<result column="stu_no" property="stu_no"/>
		<result column="stu_sex" property="stu_sex"/>
		<result column="stu_birthday" property="stu_birthday"/>
		<result column="stu_phone" property="stu_phone"/>
		<result column="stu_address" property="stu_address"/>
		<result column="stu_startday" property="stu_startday"/>
		<result column="stu_parentphone" property="stu_parentphone"/>
		<result column="stu_carde" property="stu_carde"/>
		<result column="stu_education" property="stu_education"/>
		<result column="stu_email" property="stu_email"/>
		<result column="stu_state" property="stu_state"/>
		<result column="status" property="status"/>
		<result column="crateday" property="crateday"/>
		<result column="class_id" property="class_id"/>
		<association property="classes" column="class_id" javaType="com.ruike.eas.pojo.Class">
			<result column="class_id" property="class_id"/>
			<result column="class_name" property="class_name"/>
			<result column="class_startday" property="class_startday"/>
			<result column="class_stopday" property="class_stopday"/>
			<result column="grade_id" property="grade_id"/>
			<result column="classsta" property="status"/>
			<result column="class_state" property="class_state"/>
		</association>
	</resultMap>

	<select id="selectStudent" parameterType="com.ruike.eas.pojo.Stu" resultMap="stuclass">
		  SELECT * FROM (<include refid="stu"/>) student
	</select>

	<sql id="stukey">
		<trim suffixOverrides=",">
			<if test="stu_name != null and stu_name != ''">
				stu_name,
			</if>
			<if test="stu_no != null and stu_no != ''">
				stu_no,
			</if>
			<if test="stu_sex != null">
				stu_sex,
			</if>
			<if test="stu_birthday != null">
				stu_birthday,
			</if>
			<if test="stu_phone != null and stu_phone != ''">
				stu_phone,
			</if>
			<if test="stu_address != null and stu_address != ''">
				stu_address,
			</if>
			<if test="stu_startday != null">
				stu_startday,
			</if>
			<if test="stu_parentphone != null and stu_parentphone != ''">
				stu_parentphone,
			</if>
			<if test="stu_carde != null and stu_carde != ''">
				stu_carde,
			</if>
			<if test="stu_education != null and stu_education != ''">
				stu_education,
			</if>
			<if test="stu_email != null and stu_email != ''">
				stu_email,
			</if>
			<if test="stu_state != null">
				stu_state,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="crateday != null">
				crateday,
			</if>
			<if test="class_id != null and class_id != ''">
				class_id,
			</if>
		</trim>
	</sql>

	<insert id="insertStu" useGeneratedKeys="true" keyProperty="stu_id" parameterType="com.ruike.eas.pojo.Stu">
		INSERT INTO stu (<include refid="stukey"/>) VALUES (
		<trim suffixOverrides=",">
			<if test="stu_name != null and stu_name != ''">
				#{stu_name},
			</if>
			<if test="stu_no != null and stu_no != ''">
				#{stu_no},
			</if>
			<if test="stu_sex != null">
				#{stu_sex},
			</if>
			<if test="stu_birthday != null">
				#{stu_birthday},
			</if>
			<if test="stu_phone != null and stu_phone != ''">
				#{stu_phone},
			</if>
			<if test="stu_address != null and stu_address != ''">
				#{stu_address},
			</if>
			<if test="stu_startday != null">
				#{stu_startday},
			</if>
			<if test="stu_parentphone != null and stu_parentphone != ''">
				#{stu_parentphone},
			</if>
			<if test="stu_carde != null and stu_carde != ''">
				#{stu_carde},
			</if>
			<if test="stu_education != null and stu_education != ''">
				#{stu_education},
			</if>
			<if test="stu_email != null and stu_email != ''">
				#{stu_email},
			</if>
			<if test="stu_state != null">
				#{stu_state},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="crateday != null">
				#{crateday},
			</if>
			<if test="class_id != null and class_id > 0">
				#{class_id},
			</if>
		</trim>
		)
	</insert>

	<update id="updateStu" parameterType="com.ruike.eas.pojo.Stu">
		update stu
		<trim prefix="set" suffixOverrides=",">
			<if test="stu_name != null and stu_name != ''">
				stu_name = #{stu_name},
			</if>
			<if test="stu_no != null and stu_no != ''">
				stu_no = #{stu_no},
			</if>
			<if test="stu_sex != null">
				stu_sex = #{stu_sex},
			</if>
			<if test="stu_birthday != null">
				stu_birthday = #{stu_birthday},
			</if>
			<if test="stu_phone != null and stu_phone != ''">
				stu_phone = #{stu_phone},
			</if>
			<if test="stu_address != null and stu_address != ''">
				stu_address = #{stu_address},
			</if>
			<if test="stu_startday != null">
				stu_startday = #{stu_startday},
			</if>
			<if test="stu_parentphone != null and stu_parentphone != ''">
				stu_parentphone = #{stu_parentphone},
			</if>
			<if test="stu_carde != null and stu_carde != ''">
				stu_carde = #{stu_carde},
			</if>
			<if test="stu_education != null and stu_education != ''">
				stu_education = #{stu_education},
			</if>
			<if test="stu_email != null and stu_email != ''">
				stu_email = #{stu_email},
			</if>
			<if test="stu_state != null">
				stu_state = #{stu_state},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="crateday != null">
				crateday = #{crateday},
			</if>
			<if test="class_id != null and class_id > 0">
				class_id = #{class_id},
			</if>
		</trim>
		WHERE stu_id = #{stu_id}
	</update>

	<insert id="insertByBatchByStu"  useGeneratedKeys="true" keyProperty="stu_id">
		INSERT INTO stu (stu_name,stu_no,stu_sex,stu_birthday,stu_phone,stu_address,stu_startday,stu_parentphone,stu_carde,stu_education,stu_email,stu_state,status,crateday,class_id) VALUES
	<foreach item="item" index="index" collection="list" separator=",">
		(<trim suffixOverrides=",">
			<if test="item.stu_name != null and item.stu_name != ''">
				#{item.stu_name},
			</if>
			<if test="item.stu_no != null and item.stu_no != ''">
				#{item.stu_no},
			</if>
			<if test="item.stu_sex != null">
				#{item.stu_sex},
			</if>
			<if test="item.stu_birthday != null">
				#{item.stu_birthday},
			</if>
			<if test="item.stu_phone != null and item.stu_phone != ''">
				#{item.stu_phone},
			</if>
			<if test="item.stu_address != null and item.stu_address != ''">
				#{item.stu_address},
			</if>
			<if test="item.stu_startday != null">
				#{item.stu_startday},
			</if>
			<if test="item.stu_parentphone != null and item.stu_parentphone != ''">
				#{item.stu_parentphone},
			</if>
			<if test="item.stu_carde != null and item.stu_carde != ''">
				#{item.stu_carde},
			</if>
			<if test="item.stu_education != null and item.stu_education != ''">
				#{item.stu_education},
			</if>
			<if test="item.stu_email != null and item.stu_email != ''">
				#{item.stu_email},
			</if>
			<if test="item.stu_state != null">
				#{item.stu_state},
			</if>
			<if test="item.status != null">
				#{item.status},
			</if>
			<if test="item.crateday != null">
				#{item.crateday},
			</if>
			<if test="item.class_id != null and item.class_id > 0">
				#{item.class_id},
			</if>
		</trim>)
		</foreach>
	</insert>
	<select id="selectPagerStuInfoCount"  parameterType="com.ruike.eas.pojo.Stu" resultType="int">
		SELECT count(1) FROM (<include refid="stu"/>) student
	</select>
	<select id="selectPagerStuInfo"  parameterType="com.ruike.eas.pojo.Stu" resultMap="stuclass">
		SELECT * FROM (<include refid="stu"/>) student
		<if test="totalRows!=null and totalRows > 0">
			limit #{cur},#{pageSize}
		</if>
	</select>
</mapper>