<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruike.eas.dao.StutotalscoreMapper">

    <insert id="insertClassatd" useGeneratedKeys="true" keyProperty="sts_id" parameterType="com.ruike.eas.pojo.Stutotalscore">
        insert into classattendance(sts_id,stu_id,stu_totalscore,class_id)
        values(#{sts_id},#{stu_id},#{stu_totalscore},#{class_id})
    </insert>

</mapper>