<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruike.eas.dao.ThTypeMapper">
    <select id="selectThType" parameterType="com.ruike.eas.pojo.ThType" resultType="com.ruike.eas.pojo.ThType">
      SELECT * FROM thtype
    </select>
</mapper>